include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
global-exclude .DS_Store

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

prune notebooks
prune dev_utils
prune docs/build
