sphinx-automodapi
sphinx>=1.5.1
ipykernel
nbsphinx
numpy>=1.13.0
matplotlib>=3
Cython
pysynphot==0.9.7
-e git+https://github.com/spacetelescope/poppy.git#egg=poppy
-e git+https://github.com/spacetelescope/webbpsf.git#egg=webbpsf
